[General]
ProjectDirectory=h:/7aw
ProjectFileName=HammerDown.pro
BuildDirectory=h:/7aw/build

[RunConfiguration]
Executable=h:/7aw/build/HammerDown.exe
Arguments=
WorkingDirectory=h:/7aw/build
UseTerminal=true

[BuildConfiguration]
BuildStep=Commands
MakeCommand=qmake
BuildCommand=make
CleanCommand=make clean
